################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WPEnv
/x64/Debug
/WPEnv.aps
/x64/Release
/.vs
/Debug
/Release
/downloads
/Config/service_source.txt
/Config/service_use.txt
/service
/cacert.pem
/Win32/Release
/Win32/Debug
/WPEnv/x64/Release
