################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WPEnv
/x64/Debug
/WPEnv.aps
/x64/Release
